*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.loading-bar{
    background:#eff4f7;
    width: 100%;
    height: 38px;
    font-size: 0.80rem;
    
    
}

.loading-bar-text{
    display: flex;
    justify-content: center;
}
.loading-bar-text p{
    padding: 11px 0px;
    font-weight: 500;

}
.menu-bar{
    display: none;
}
.search-in-mobile{
    display: none;
}

   

    

    /* media query */

header{
position: sticky;
  top: 0;
  background-color:  white;
 z-index: 999;
}
.navbar{
   width: 100%;
    height: 80px;
   color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid beige;
    
   
}
#nav-list-select{
    border: none;
    background: white;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

#nav-list-select option{
   width: 200px ;
   height: 200px;
   background: pink;
   position: relative;
}
#nav-list-select option::after{
    position: absolute;
    height: 200px;
    background: pink;
    width: 100px ;
}

.logo-img{
background:url('https://www.boat-lifestyle.com/cdn/shop/files/boAt_logo_small_3067da8c-a83b-46dd-b28b-6ef1e16ccd17_small.svg?v=1693549434') ;
height:33px;
width: 80px;
background-position: center;
background-size: cover;
}
.navbar-list{
font-size: 1rem;
color: black;
}
#select-id{
    border: none;
    background-color: none;
}
.navbar-list ul{
    display: flex;
    font-size: 1rem;
  
}
.navbar-list ul li{
    list-style: none;
    margin: 0px 22px;
   
}



.navbar-list ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.0rem;
    letter-spacing: 0.85px
}
.navbar-search{
   
   margin-right: -5px;
    width: 315px;
height: 40px;

    
}
.main-input{
    width: 100%;
    background: #eee;
    display: flex;
    border-radius: 20px;
  
    
}
#input-inner{
    border: none;
  
    border-radius: 21px;
     margin: 0px -53px;
    padding: 12px 69px;
    border: none;
    background: transparent;
}
#tag{
margin: 12px 19px;
}
.user-logo{
    font-size: 20px;
    cursor: pointer;
}
.bag{
margin-left: -61px;
}
.user{
    margin-left: -45px;
    
}

@media screen and (min-width:375px) and (max-width:480px) {
    .loading-bar{
        font-size: 0.70rem;
      

    }
    .loading-bar-text{
        text-align: center;
    }
    .loading-bar-text p{
        margin-left: 5px;
    margin-right: 5px;
    }
   
    .navbar-list,.navbar-search{
        display: none;
    }
    .logo{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -32px;
    }
    .menu-bar{
        margin: 0px 19px;
    font-size: 1.55rem;
    padding: 0px -12px;
    /* padding: 16px 1px; */
    margin-top: 10px;
    display: block;
    }
    .search-in-mobile{
        display: inline;
    margin-left: 40px;
    font-size: 18px;

}
.user{
    margin-right: 27px;
}
.hero-session{
   
   flex-wrap: wrap;
}
.image{
    margin-top: -80px;
}
.image img{
    width: 375px;
    height: 270px;
}
.hero-text{
    text-align: center;
    
    margin-top: 65px !important;
}

#hero-text-1 {
font-size:2.2rem !important;
}
.hero-text-1 {
    
}
.hero-text-2 strong{
    font-size:2rem !important;
}
.hero-text-3{
font-size: 13px !important;
}
.hero-button{
    margin-top: 15px !important;
}
.shop-product-btn{
    padding: 10px 13px !important;
    font-size: 14px !important;


}
.feature-shopping-1{
background-image: linear-gradient(#edfefe, white);
}
.ui-heading{
display: flex;
justify-content: space-between;
align-items: center;
}
.ui-top{
font-size: 2rem;
color: #1a2024;
margin-left: 35px;
position: relative;

}
.ui-top::after{

content: '';
width: 14%;
height: 2px;
left: 0;
bottom: 1px;
background: rgb(204, 20, 20);
position: absolute;
margin: 0px 149px;
}
.ui-top strong{
font-weight: 700;
}
.view{
font-size: 15px;
font-size: 12px;
color: #262642;
margin-right: 35px;
cursor: pointer;
}

    }
    .hero-session{
        background-image: linear-gradient(#edfefe, #eeffff);
        z-index: -1;
        display: flex;
       
        justify-content: space-between;
        flex-direction: wrap;
    }
.image{

}
.hero-text{
    
    margin: 107px 50px;
    letter-spacing: 1px;
    color: #1a2024;
}

#hero-text-1{
    font-size: 5rem;
}
.hero-text-1{
font-weight: 100;
letter-spacing: 4px;
}
.hero-text-2 strong{
    font-size: 5.5rem;
    font-weight: 900;
}
.hero-text-3{
    margin-top: 10px;
font-size: 30px;
}
.hero-button{
margin-top: 40px;
}
.shop-product-btn{
    
    background-color: #1a2024;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;

}
.feature-shopping-1{
    background-image: linear-gradient(#edfefe, white);
}
.ui-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ui-top{
    font-size: 2rem;
    color: #1a2024;
    margin-left: 35px;
    position: relative;

}
.ui-top::after{
   
    content: '';
    width: 14%;
    height: 2px;
    left: 0;
    bottom: 1px;
    background: rgb(204, 20, 20);
    position: absolute;
    margin: 0px 149px;
}
.ui-top strong{
    font-weight: 700;
}
.view{
font-size: 15px;
font-size: 12px;
color: #262642;
margin-right: 35px;
cursor: pointer;
}
.feature{
display: flex;
justify-content: space-evenly;
margin-top: 12px;
width: 100%;

}
.earbuds{
border: 1px solid rgb(236, 234, 234);
border-radius: 15px;
height: 460px;
overflow: hidden;
cursor: pointer;
}
.earbuds-img{
    width: 300px;
    height: 300px;
    
}
.earbuds-capacity{
    margin: -11px 50px;

}
.earbuds-capacity span{
    border: 1px solid white;
    background-color: rgb(189, 152, 32);
    border-radius: 8px;
    padding: 5px 45px;
    font-size: 12px;
    font-weight: 600;
}
.color{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}
.feature-heading{
    font-size: 15px;
    font-weight: 700;
    margin: 0px 12px;
}
.color-choose{
    margin: 0px 12px;
}
.swatch-circle{
   
    border-radius: 50%;
    color: #d1d1d1;
    padding:0px 4px;
    margin: 0px -11px;
}
.swatch-circle1{
    height: 10px;
    width: 30px;
    border-radius: 50%;
    color: #22201f;
   padding:0px 4px;
   margin-right: -4px;
}
.more-colors{
color: #1a2024;
font-size: 13px;
}
.price{
    margin: 10px 12px;
}
.swatch-price{
font-weight: 700;
color: #22201f;
}
.swatch-discount{
color: #b2b9bf;
letter-spacing: -0.48px;
    font-size: 12px;
    text-decoration: line-through;
}
.swatch-off{
    font-size: 12px;
    font-weight: bold;
    color: #12b985;

}
.feature-button{
    cursor: pointer;
width: 90%;
margin:0px 15px;
}
.feature-button button{
    background-color: #1a2024;
    color: white;
    padding: 10px 95px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin: 7px 0px;
    cursor: pointer;
    
}
.boat-watches{
    background-image: linear-gradient(#fffefd, #fff2da);
}

.watch-banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watch-img{
    width: 45%;
}

.watch-image{
    height: 310px;
    width: 300px;
}
.watch{
    border: 1px solid rgb(236, 234, 234);
border-radius: 15px;
height: 460px;
overflow: hidden;
cursor: pointer;
}

.wtch-txt{
font-size: 84px;
line-height: 95px;
color: #1a2024;
}
.wtch-prc{
    font-size: 30px;
    line-height: 40px;

}
.watch-capacity span{
    padding: 5px 71px;
}
.wtch-mv{
    margin-left: 305px;
}
.wtch-btn{
    margin: 15px 107px;

}
.boat-neckband{
    background-image: linear-gradient(#ffffff, #f2edff);
}
.feature-shopping-2{
   
    background-image: linear-gradient(#fff2da,#fffefd);
}

.band-btn{
    margin-top: 15px;

}
.band-img-text{
width: 50%;
margin-left: 75px;
}
.feature-shopping-3{
    background-image: linear-gradient(#f2edff,#ffffff);
}